server:
  port: 9090
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: coding-ai

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  datasource:
    dynamic:
      primary: mysql  # 设置默认的数据源
      strict: false   # 非严格模式
      datasource:
        mysql:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://121.40.252.207:3306/ai-service?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Shanghai
          username: ai-service
          password: ai-service
        postgresql:
          driver-class-name: org.postgresql.Driver
          url: jdbc:postgresql://121.4.116.162:25433/ai-service
          username: coding-ai
          password: coding-ai

  # Web MVC配置
  mvc:
    static-path-pattern: /static/**
    pathmatch:
      matching-strategy: ant_path_matcher

  # Agent 使用的 OpenAI 配置
  ai:
    openai:
      base-url: https://dashscope.aliyuncs.com/compatible-mode
      api-key: sk-bbe244347f4545fca6182c22b5512c9d
      chat:
        options:
          model: qwen-max
      embedding:
        options:
          model: text-embedding-v4
          dimensions: 1024

  data:
    redis:
      host: longcoding.top
      port: 6379
      password: longcoding
      database: 0
      timeout: 3000ms
      lettuce:
        pool:
          max-active: 8
          max-wait: 3000ms
          max-idle: 8
          min-idle: 0

  mail:
    host: smtp.qq.com
    port: 587
    username: 1410124534@qq.com
    password: avmvaqqeifelhcjb
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          timeout: 3000

jwt:
  secret: 1ONZjSrF4YMyjH5AAgLHygE+gpeDCJ8MTwzoqWFsl42lmYL2AI1VYHVe0Eg7qNETKR3VHfL8tLsUz9i6fMa7Wg==
  expiration: 86400000                # 24小时
  access-token-expiration: 7200000    # Access  Token过期时间：2小时
  refresh-token-expiration: 604800000 # Refresh Token过期时间：7天

aliyun:
  access-key-id: LTAI5tFbnD7b9UAJNNcaqSPo
  access-key-secret: UKARosq7RS7QNQ5dLGGwDP6JZE3FLI
  oss:
    endpoint: https://oss-cn-hangzhou.aliyuncs.com
    bucket-name: longcoding-ai-service

logging:
  level:
    root: info